<a href="https://colab.research.google.com/github/zhangwiki86-soton/Python-Files-for-Practice/blob/main/data_analysis/pandas_lesson_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas lesson 2 (Dataframes)

 This lesson shows examples of typical operations on a pandas DataFrame including:
* create a DataFrame using a pandas read_... method
* select a subset of columns
* calculate new columns
* filter rows by values or by index
* sort rows by index or by values

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt # pandas uses matplotlib for plotting

A DataFrame is basically a table.  It is a 2D labelled data structure.  The columns can be different types.  You can think of it as a dict of Series objects (columns) if that helps.  Like a Series, a Dataframe has an index column.

We can build a pandas Dataframe in many ways, for example from a dict. The dict's keys become the column names and the dict's values become the column values.

We can use the pandas read_csv method to load data directly into a DataFrame. We will use the epl DataFrame in the following sections. This contains the football English Premier League results from the 2023-24 season as provided by ChatGPT!)

In [2]:
epl_csv_file_url = "https://zomalextrainingstorage.blob.core.windows.net/datasets/misc/EPL%20Results%202023-24.csv"
epl = pd.read_csv(epl_csv_file_url)
epl.head()

   Position               Team Code  Won  Drawn  Lost  GF  GA
0         1    Manchester City  MCY   30      4     4  96  26
1         2            Arsenal  ARS   27      7     4  88  36
2         3          Liverpool  LIV   25      9     4  86  38
3         4  Manchester United  MUN   24      6     8  72  40
4         5   Newcastle United  NEW   21      9     8  67  42

Use the three letter code for the team as the index

In [3]:
epl.set_index('Code', inplace=True)
epl.head()

      Position               Team  Won  Drawn  Lost  GF  GA
Code
MCY          1    Manchester City   30      4     4  96  26
ARS          2            Arsenal   27      7     4  88  36
LIV          3          Liverpool   25      9     4  86  38
MUN          4  Manchester United   24      6     8  72  40
NEW          5   Newcastle United   21      9     8  67  42

Exercise: Examine the dataframe.  
Use the following dataframe properties and methods: index, head(), info(), describe(), shape, values, columns.

In [4]:
# Write your code here as a set of print statements. The first one is provided.
print("Index:\n", epl.index)
# print("Head:\n", epl.head())
# print("Info:\n", epl.info())
# print("Describe:\n", epl.describe())
# print("Shape:", epl.shape)
# print("Values:\n", epl.values)
# print("Columns:\n", epl.columns)

Index:
 Index(['MCY', 'ARS', 'LIV', 'MUN', 'NEW', 'TOT', 'BHA', 'AVL', 'BRE', 'FUL',
       'CRY', 'CHE', 'WHU', 'WOL', 'BOU', 'EVE', 'NFO', 'BUR', 'SHU', 'LUT'],
      dtype='object', name='Code')

### Access columns in a Dataframe

We can access a columns or columns, col1, col2 in a DataFrame df in several ways:
* df['col1'] which returns a series
* df.col1 which returns a series (pandas allows us to refer to column names like a property! )
* df[['col1']] or df[['col1', 'col2']] which return DataFrames
* df.loc[ : , ['col1', 'col2']] which return DataFrames and is possibly best practice and most flexible

Task: experiment with various ways of selecting columns of the epl DataFrame.

In [ ]:
# Here are some examples
print("Using dot notation:\n", epl.Team.head(2))
print("Using [] slice notation:\n", epl['Team'].head(2))
# Write your code here
# print("Single column as DataFrame:\n", epl[['Team']].head(2))
# print("Multiple columns:\n", epl[['Team', 'Won']].head(2))
# print("Using loc:\n", epl.loc[:, ['Team', 'Won', 'Drawn']].head(2))

### Sort rows
We can sort by values or sort by index.  Sort by values is the more usual case.  

Order the rows in the dataframe by the number of games won (low to high), then in the case of any ties, by the number of games drawn.

In [ ]:
epl.sort_values(by = ['Won', 'Drawn'], ascending=True)

Task: sort rows by the GF and GA column (highest first)

In [ ]:
# Write your code here
# epl.sort_values(by=['GF', 'GA'], ascending=False)

We can also sort a DataFrame by its index.

In [ ]:
epl_sorted_by_index = epl.sort_index()
epl_sorted_by_index.head()

### Create new columns

In [ ]:
# Teams get 3 point for a win, 1 for a draw, none for a loss
epl['Points'] = epl['Won'] * 3 + epl['Drawn']
epl.head()

Task: Create a new column, Played, to hold the number of games played by each team.

In [ ]:
# Write your code here
# epl['Played'] = epl['Won'] + epl['Drawn'] + epl['Lost']

Task: Create a new column, GD, to hold the goal difference, calculated as GF - GA (Goals For - Goals Against)

In [ ]:
# Write your code here
# epl['GD'] = epl['GF'] - epl['GA']

### Filter rows
Filter both rows and columns of the dataframe in various ways using the loc method and the index / column names.

In [ ]:
epl.loc['LIV', :] # one row, all columns, returns a Series

In [ ]:
epl.loc[['LIV'], :] # one row, all columns, returns a DataFrame

In [ ]:
epl.loc[['LIV', 'MCY'], :] #   two rows, all columns, returns a DataFrame

In [ ]:
epl.loc[['LIV', 'MCY'], ['Team', 'Won']] # two rows, two columns

### Filter Rows by Values

We have already seen that a boolean expression returns a Series of bools

In [ ]:
epl.Won >= 25

We can use this boolean expression to filter the rows of the DataFrame where the bools are True

In [ ]:
epl.loc[epl.Won >= 25, :]

Task: filter the epl DataFrame to return only teams with 80 points or more

In [ ]:
# Write your code here
# epl.loc[epl.Points >= 80, :]

Filter teams that have Manchester in their name

In [ ]:

epl.loc[epl.Team.str.contains('Manchester'), :]

We can combine two filter criteria with an & (and)

In [ ]:
epl.Team.str.contains('Manchester') & (epl.Won > 25)

Task:  filter the epl dataframe to return only London teams that have won more than 5 games

In [ ]:
# Write your code here
# epl.loc[epl.Team.str.contains('London') & (epl.Won > 5), :]

### Drop Columns

We can remove columns from a DataFrame using the drop() method. By default, drop() returns a new DataFrame without modifying the original.

In [ ]:
# Drop a single column (returns new DataFrame, original unchanged)
epl_no_lost = epl.drop('Lost', axis=1)
epl_no_lost.head()

In [ ]:
# Drop multiple columns
epl_simplified = epl.drop(['Drawn', 'Lost'], axis=1)
epl_simplified.head()

### Rename Columns

We can rename one or more columns using the rename() method. Pass a dictionary mapping old names to new names.

In [ ]:
# Rename single or multiple columns
epl_renamed = epl.rename(columns={'GF': 'Goals_For', 'GA': 'Goals_Against'})
epl_renamed.head()

### Reset Index

We can convert the index back to a regular column using reset_index(). This is useful when you want to make the index a column again or switch to the default numeric index.

In [ ]:
# Reset index to default numeric index (Code becomes a regular column)
epl_reset = epl.reset_index()
epl_reset.head()

### Using query() for Filtering

The query() method provides an alternative, more readable way to filter DataFrames using SQL-like string expressions. This can be cleaner than using boolean indexing with .loc[].

In [ ]:
# Simple query - teams that won 25 or more games
epl.query('Won >= 25')

In [ ]:
# Complex query with multiple conditions - teams with more than 20 wins AND more than 70 points
epl.query('Won > 20 and Points > 70')